@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');


*{
    font-family: Manrope, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-attachment: fixed;
    
}
$ayo-bg-color:360deg, #002853 0%, #040c18 97.40%;
$font-orangexpurple:linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);

.row{
    margin: 0 !important;
}

.gradient__bg {
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
    
    background-attachment: fixed;
    background-position: 100%;
    background-size: cover;
    margin: 0;
}


header{
  
    a{
        color: #fff !important;
        margin-right: 25px;
        font-size: 16px;
        font-weight: 500;
    }
    .topbtn1{
        background-color: transparent;
        color: #fff;
        outline: none;
        border: none;
        margin-right: 10px;
        font-size: 16px;
        font-weight: 500;
    }

    .topbtn2{
        background-color: #FF4820;
        color: #fff;
        outline: none;
        font-size: 16px;
        font-weight: 500;
        border-radius: 3px;
        padding: 10px 30px;
        &:hover{
            background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);
        }
        
    }

    
}
.firstbody {
   
    .firstbody-row{      
        h1{
            margin-top: 200px;
            background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 800;
            font-size: 62px;
        }
        .yet-bed{
            color: #81AFDD;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            margin-top: 50px;
            box-sizing: content-box;
            
        }
        .head-illus{
            display: flex;
            padding: 0.194px 0px 0.566px 0px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            
        }
        form{
            display: flex;
            margin-top: 50px;
            input{
                border-radius: 5px 0px 0px 5px;
                background: #052d56;
                width: 60%;
                padding: 18px 0 18px 28px;
                outline: none;
                border: none;
                caret-color: white;
            }
            ::placeholder{
                color: #3d6184;
                font-size: 16px;
            }
            button{
                width: 20%;
                color: #fff;
                background:#FF4820;
                border: none;
                border-radius: 0 5px 5px 0;
                font-weight: 700;
                transition: all .5s ease;
                &:hover{
                    background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);
                }
            }
            

            
        }

        .group-people{
            margin-top: 20px;
            display: flex;
            gap: 10px;
            
            img{
                height: 38px;
                left: 0;
                top: 0;
                width: 20%;
                
            }
            p{
                color: #fff;
                margin-top: 10px;
                
            }

        }
    }
  

}

.group-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    img{
        margin-right: 40px;
        margin-bottom: 80px;
    }
   
}

// section two

.sec-two{
    
    .sec-sub{
        // background-image: linear-gradient($ayo-bg-color);
        
        .sec-page{
            background: #0F4279;
            background: linear-gradient(150deg,
            rgba(27,120,222,1) 0%, 
            rgba(18,79,145,1) 14%,
            rgb(12, 51, 94) 90%, 
            rgba(27,120,222,1) 100%);
            
            .what-gpt{
                padding: 80px 0;
                
                .gbt-h3{
                    color: #FFF;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 800;
                }
                
                .weso-opi{
                    color: #80aedd;
                    font-family: "Manrope-Medium", Helvetica;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    margin-top: 20px;
                
                }

            }
            
        }
        
        .possiexplore-sec{
            margin-top: 70px;
            .possi-h3{
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent;
                background: linear-gradient(180deg, rgb(173.75, 103, 249.69) 0%, rgb(244, 152, 103) 97.4%);
                background-clip: text;
                color: transparent;
                font-size: 34px;
                font-weight: 800;
                text-emphasis-color: transparent;
                }
            .explore-para{
                color: #ff8a70;
                font-family: "Manrope-Medium", Helvetica;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .group-chatbots{

            .chatbots-sec{
                
                .chat-h3{
                    color: #FFF;
                }
                .chat-p{
                    color: #80aedd;
                    font-family: "Manrope-Medium", Helvetica;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 60px 0;
                }

            }
            .knowledge-sec{
                .knowledge-h3{
                    color: #FFF;
                }
                .knowledge-p{
                    color: #80aedd;
                    font-family: "Manrope-Medium", Helvetica;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 60px 0;
                    
                }
            }
            .edu-sec{
                .edu-h3{
                    color: #FFF;
                }
                .edu-p{
                    color: #80aedd;
                    font-family: "Manrope-Medium", Helvetica;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 60px 0;
                }
            }
        }
       
        
       
    }


}

// Section Third
.sec-third{
    margin-top: 100px;
    .third-subsection{
        .future-h3{
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent;
            background: linear-gradient(180deg, rgb(173.75, 103, 249.69) 0%, rgb(244, 152, 103) 97.4%);
            background-clip: text;
            color: transparent;
            font-family: "Manrope-ExtraBold", Helvetica;
            font-size: 34px;
            font-weight: 800;
            text-emphasis-color: transparent;
        }
        .request-p{
            color: #ff8a70;
            font-family: "Manrope-Medium", Helvetica;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            white-space: nowrap;
            margin-top: 20px;
        }
        .middlerow-sec{
            p{
                color: #ffffff;
                font-family: "Manrope-ExtraBold", Helvetica;
                font-size: 18px;
                font-weight: 800;
                
            }
        }
        .rightside-sec{
            p{
                color: #80aedd;
                font-family: "Manrope-Medium", Helvetica;
                font-size: 14px;
                font-weight: 500;
                
            }
        }
    }

}

.fourth-sec{
   
    .fourthsec-img img{
        height: 100%;
        width: 100%;
    }
    .four-subsection{
        margin-top: 400px;
    
        
        .request-p{
            color: #71E5FF;
            font-family: "Manrope-Medium", Helvetica;
            font-size: 21px;
            font-weight: 500;
        }
        .possi-four-h3{
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent;
            background: linear-gradient(180deg, rgb(173.75, 103, 249.69) 0%, rgb(244, 152, 103) 97.4%);
            background-clip: text;
            color: transparent;
            font-size: 38px;
            font-weight: 800;
            text-emphasis-color: transparent;
            
        }
        .yet-p{
            color: #81AFDD;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }
        .requestsec-p{
            color: #FF8A71;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
        }
    }
}

// fifth section

.fifth-sec{
    margin-top: 20px;
    .fifth-subsec{
        .rowfifth-subsec{
        width: 100%;
        border: 1px solid #000;
        background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 30px 30px;
        border-radius: 5px;
        margin-top: 30px;
        }
        .request-early-p{
            font-size: 12px;
            font-weight: 500;
            color: #0E0E0E;
            margin: 0;
            margin-top: 40px;
        }
        .reg-h3{
            font-size: 24px;
            font-weight: 800;
            color: #0E0E0E;
        }
        .sec-five-btn{
            padding: 12px 30px;
            border-radius: 30px;
            background-color: #0E0E0E;
            color: #FFF;
            font-size: 18px;
            font-weight: 700;
            margin-top: 40px;
            
        }
        
    }


}
.alot-sec{
    // width: 100%;
    .alot-subsec{
        margin-top: 80px;
        .alot-h3{
            background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 50px;
            font-weight: 800;
            
        }
    }
    
    .Rec-section{
        .rec1-image{
            width: 100%;
            height: 400px;
        }
        .big-blueside-rec{
            background-color: rgba(4, 44, 84, 1);
            height: 200px;
            position: relative;
            .rec1-date{
                position: absolute;
                top: 22px;
                left: 6px;
            }
            .rec1-h3{
                position: absolute;
                top: 54px ;
                left: 6px;
            }
            .rec1-p{
                position: absolute;
                bottom: 15px;
            }
            p{
                color: #FFF;
                margin-left: 20px;
                
            }
            // .rec1-p{
            //     margin-top: 160px;
                
            // }
            h3{
                color: #FFF;
                margin-left: 20px;
                letter-spacing: 4px;
            }

        }

    }
    .Rec-section{
        img{
            width: 100%;
        }

    }
    p{
        color: #FFF;
        margin-left: 20px;
    }
    h4{
        color: #FFF;
        margin-left: 20px;
    }
   
    .small-blue{
        background-color: rgba(4, 44, 84, 1);
        padding: 20px 0px;
    }
    .secondsec-side1{
        margin-top: 15px;
    }
    .secondsec-side2{
        margin-top: 30px;

    }
    .read-full{
        margin-top: 18px;
    }
}

.last-sec{
    background-color: rgba(3, 27, 52, 1);
    width: 100%;
    margin-top: 80px;

    .last-page{
        .last-text{
            margin-top: 80px;
            padding: 50px 0;
            h2{
                background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 55px;
                font-style: normal;
                font-weight: 800;
                text-align: center;
                margin: auto;
            }
        }
        h2{
            color: #FFF;
        }
        p{
            color: #FFF;
        }
        .last-text{
            flex: none;
           
        }
        .btnfooter{
            margin-bottom: 80px;
            margin-top: 80px;

            text-align: center;
            .last-btn{
                border: 1px solid;
                border-color: #ffffff;
                border-radius: 3px;
                padding: 18px 30px;
                background-color: rgba(3, 27, 52, 1);
                color: #FFF;
                &:hover{
                    background:  #054284;
                }
            }
        }
        
        .themain-footer{
            .gbt-under-side{
                margin-top: 30px;
            }
           
        }
        .last-con{
            text-align: center;
            margin-top: 50px;
        }
        
    }
   
}
 





  
@media screen and (max-width: 767px) {
    .firstbody{
        .firstbody-row{
            .letbuild-h1{
                font-size: 40px !important;
                margin-top: 43px !important;
            //    br{
            //       display: none;  
            //     }
            }
            .yet-bed{
                font-size: 15px !important;
            }
            form{
                display: block;
              input{
                width: 100% !important;
                border-radius: 0;
                text-align:center;
                padding: 9px 0 18px 0px;
                
              }
              button{
                width: 100% !important;
                padding: 9px 0 18px 0px;
                border-radius: 0;
                margin: auto;
              }  
                
            }
            .group-people{
                display: block;
                p{
                    font-size: 15px;
                    margin-top: -11px;
                }
                img{
                    width: 50%;
                    height: 20px;
                    text-align: center;
                    margin-top: -28px;
                }
            }


        }
        
        
    }
    .group-logo{
        img{
            margin-right: 15px;
            margin-bottom: 17px;
        }
    }

    .sec-two{
        .what-gpt{
            .possiexplore-sec{
                .possi-h3{
                    font-size: 30px;
                }
            }
            .group-chatbots{
                .chatbots-sec{
                    .chat-p{
                        margin-top: 12px
                    }
                }
                .knowledge-sec{
                    margin-top: -30px;
                    .knowledge-p{
                        margin-top: 19px;
                    }

                }
                .edu-sec{
                    margin-top: -30px;
                    .edu-p{
                        margin-top: 19px;
                    }
                }


                
            }
        }
       
    }
    .sec-third{
        .third-subsection{
            .future-h3{
                margin-top: -30px;
            }
            .request-p{
                font-size: 13px;
            }
        }
    }
    .fourth-sec{
        .fourthsec-sub{
            // .fourthsec-img{
            //     img{
            //         height:200%;
            //     }
            // }
            .four-subsection{
                margin-top: 10px;
            }
        }
    }

    .fifth-sec .fifth-subsec .sec-five-btn {
        padding: 6px 25px;
        margin-top: 16PX;
        border-radius: 24px;
    }

    .alot-sec{
        .alot-subsec{
            .alot-h3{
                font-size: 34px;
                
                br{
                    display: none;
                }
                .Rec-section{
                    .rec1-image{
                        height: 360px;
                    }

                }
            }
            .big-blueside-rec{
                height: 300px !important;
                .rec1-h3{
                    font-size: 20px !important;
                }
            }
            .firstlong-sec{
                margin-top: 30px;
            }
            .firstsec-side1{
                margin-top: 30px !important;
            }
            .firstsec-side2{
                margin-top: 30px !important;
            }
            h4{
                font-size: 16px !important;
            }
            .topread-full, .read-full{
                margin-top: 30px !important;
            }
        }

    }

    .last-sec{
        .last-page{
            h2{
                font-size: 45px !important;
                br{
                    display: none;
                }
            }
        }
    }


}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .firstbody{
        form{
            input{
                width: 65% !important;
            }
            button{
                width: 25% !important;
            }
            

            
        }
    }
    .sec-two{
        .possiexplore-sec{
            margin-top: 30px !important;
            .possi-h3{
                font-size: 50px !important;
            }
        }
        .explore-para{
            font-size: 20px !important;
        }

        .group-chatbots{
            margin-top: 20px !important;
            p{
                font-size: 20px !important;
            }
            .chatbots-sec{
               .chat-p{
                margin-top: 20px !important;
               } 
            }
            .knowledge-sec{
                margin-top: -9px !important;
                .knowledge-p{
                    margin-top: 20px !important;
                }
            }
            .edu-sec{
                margin-top: -9px !important;
                .edu-p{
                    margin-top: 20px !important; 
                }
            }
        }

    }

    .sec-third{
        .rightside-sec{
            p{
                font-size: 20px !important  ;
            }
        }

    }
    
    .fourth-sec{
        .fourthsec-sub{
            .fourthsec-img{
                margin-top: 45px;
            }
        }
        .four-subsection{
            margin-top: 40px !important;
        }
    }
    
    .fifth-sec{
        margin-bottom: 40px;
        .rowfifth-subsec{
            .request-early-p{
                font-size: 16px !important;
            }
            .sec-five-btn{
                padding: 15px 40px !important;
                border-radius: 30px !important;
                font-weight: 700 !important;
            }
        }
    }

    .alot-sec{
        .alot-subsec{
            .alot-h3{
                margin-bottom: 37px !important;
            }
            .Rec-section{
               .firstlong-sec{
                    margin-bottom: 40px !important;
               }
               .firstsec-side1{
                    margin-bottom: 40px !important;
               }
               .read-full, .topread-full{
                margin-top: 50px;
               }  

            }
             
        }
        
    }
    .big-blueside-rec{
        height: 300px !important;
    }

   
}

@media screen and (min-width: 1024px) and (max-width: 1200px){
    Header{
        .all-mynav{
            margin-left: 20px !important;
            padding: 0;
        }
        a{
            font-size: 15px !important;
            margin-right: 3px !important;
        }

        .topbtn1{
            margin-right: 23px !important;
            font-size: 16px;
            font-weight: 500;
        }
    
        .topbtn2{
            font-size: 16px;
            font-weight: 500;
            border-radius: 3px;
            padding: 8px 21px;
           
        }
    }

    .firstbody{
        .letbuild-h1{
            font-size: 50px !important;
            margin-top: 79px !important;
        }
        .yet-bed{
            font-size: 15px !important;
            margin-top: 20px !important;
        }

        form{
            display: flex;
            margin-top: 30px !important;
            input{
                border-radius: 5px 0px 0px 5px;
                width: 70% !important;
                padding: 18px 0 18px 28px;
               
            }
            button{
                width: 30% !important;
                border: none;
                border-radius: 0 5px 5px 0;
                font-weight: 700;
                transition: all .5s ease;
               
            }
            
        }

        .group-people{
            p{
                margin-top: -3px !important;

            }
            img{
                height: 38px;
                left: 0;
                top: 0;
                width: 30% !important;
                    
            }

        }

    }
    
    .group-logo{
        margin-top: 30px !important;           
    }

    .sec-two{
        .what-gpt{

            .sectwo-p2{
                .weso-opi{
                    font-size: 18px !important;
                }
            }
        }

        .possiexplore-sec{
            margin-top: 20px !important;
            margin-bottom: 30px !important;
            .possi-h3{
                font-size: 28px !important;
            }
            
        }
        .group-chatbots{
            p{
                margin-top: 15px !important;
            }
        }
    }

    .sec-third{
        .third-subsection{
            .future-h3{
                font-size: 29px !important;
            }

            .middlerow-sec{
                p{
                    font-size: 15px !important;
                }
            }

            .rightside-sec{
                p{
                    font-size: 13px !important;
                }
            }
        }
    }

    .fourth-sec{
        .four-subsection{
            margin-top: 81px !important;
            .request-p{
                font-size: 15px !important;
            }
            .possi-four-h3{
                font-size: 33px;
            }
            .yet-p{
                font-size: 15px;
            }
        }
    }

    .fifth-sec{
        .fifth-subsec{
            // .emptyspeace-5{
            //     display: none !important;
                
            // }
            .btn-rowside{
                width: 50% !important;
            }

            .rowfifth-subsec{
                display: block;
            }
            .sec-five-btn{
                padding: 1px 53px !important;
                border-radius: 30px !important;
                font-weight: 700 !important;
                // margin-left: -53px;
                margin-top: 24px;

            }
        }
    }

    .alot-sec{
        .alot-subsec{
            margin-top: 30px !important;
            .alot-h3{
                font-size: 44px;
                margin-bottom: 40px;
            }
            .Rec-section{
                .big-blueside-rec{
                    height: 341px !important;
                }
                // .small-blue[
                //     h4
                // ]
            }
            
        }
    }

}

@media screen and (min-width: 1201px) and (max-width: 2800px){
        .firstbody{
            .letbuild-h1{
                margin-top: 129px !important;
            }
            
        }
        
        .alot-sec{
            .Rec-section {
                height: 100% !important;
                .firstlong-sec{
                    height: 100% !important;
                    .big-blueside-rec {
                        height: 50% !important;
                    }
        
                }
                .small-blue{
                    height: 50% !important;
                }


                
            }
        }
       
            
        

}

